<mat-sidenav-container fullscreen>
    
    <mat-sidenav #sidenav mode="push">
        
        <mat-toolbar color="primary">
            <span>Options</span>
            <span class="space-between"></span>
            <mat-icon>settings</mat-icon>            
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./phone-list"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>label</mat-icon>
                <span>Phone List</span>
            </a>
            <a routerLink="./add"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <span>Add new phone</span>
            </a>
        </mat-nav-list>        
    </mat-sidenav>

    <mat-toolbar fxLayout="row">
        <div fxFlex="6">
            <button mat-icon-button
                    (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <div fxFlex="88" class="toolbar-search">
            <app-search></app-search>
        </div>
    </mat-toolbar>


    <div class="main-container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>
