<div *ngIf="!isEditing">
    <h1>Add a new phone</h1>
</div>
<div *ngIf="isEditing">
    <h1>Editing a phone</h1>
</div>

<mat-divider></mat-divider><br/>

<div *ngIf="!isEditing" fxLayout="row" fxLayoutGap="20px">

    <div fxFlex="50" fxLayout="column">
        <form [formGroup]="phoneForm" (ngSubmit)="submitForm()">
            <mat-form-field>
                <mat-label>Name (Required)</mat-label>
                <input matInput
                    type="text"
                    formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Release (Required)</mat-label>
                <input matInput
                    type="text"
                    formControlName="released_at">
            </mat-form-field>
            <mat-form-field>
                <mat-label>URL Picture</mat-label>
                <input matInput
                    type="url"
                    formControlName="picture">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Body</mat-label>
                <input matInput
                    type="text"
                    formControlName="body">
            </mat-form-field>
            <mat-form-field>
                <mat-label>OS</mat-label>
                <input matInput
                    type="text"
                    formControlName="os">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Storage</mat-label>
                <input matInput
                    type="text"
                    formControlName="storage">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Size</mat-label>
                <input matInput
                    type="text"
                    formControlName="display_size">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Screen Resolution</mat-label>
                <input matInput
                    type="text"
                    formControlName="display_resolution">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Camera Pixels</mat-label>
                <input matInput
                    type="text"
                    formControlName="camera_pixels">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Video Pixels</mat-label>
                <input matInput
                    type="text"
                    formControlName="video_pixels">
            </mat-form-field>
            <mat-form-field>
                <mat-label>RAM</mat-label>
                <input matInput
                    type="text"
                    formControlName="ram">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Chipset</mat-label>
                <input matInput
                    type="text"
                    formControlName="chipset">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Battery Size</mat-label>
                <input matInput
                    type="text"
                    formControlName="battery_size">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Battery Type</mat-label>
                <input matInput
                    type="text"
                    formControlName="battery_type">
            </mat-form-field>

            <br/>

            <button [disabled]="!phoneForm.valid" mat-raised-button color="primary">
                <mat-icon>save</mat-icon>
                Save new phone!
            </button>
        </form>
    </div>
    <div fxFlex="50" fxLayout="column">

    </div>
</div>

<div *ngIf="isEditing" fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="50" fxLayout="column">
        <form [formGroup]="editPhoneForm" (ngSubmit)="submitEditForm()">
            <mat-form-field>
                <mat-label>Name (Required)</mat-label>
                <input matInput
                    type="text"
                    formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Release (Required)</mat-label>
                <input matInput
                    type="text"
                    formControlName="released_at">
            </mat-form-field>
            <mat-form-field>
                <mat-label>URL Picture</mat-label>
                <input matInput
                    type="url"
                    formControlName="picture">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Body</mat-label>
                <input matInput
                    type="text"
                    formControlName="body">
            </mat-form-field>
            <mat-form-field>
                <mat-label>OS</mat-label>
                <input matInput
                    type="text"
                    formControlName="os">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Storage</mat-label>
                <input matInput
                    type="text"
                    formControlName="storage">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Size</mat-label>
                <input matInput
                    type="text"
                    formControlName="display_size">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Screen Resolution</mat-label>
                <input matInput
                    type="text"
                    formControlName="display_resolution">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Camera Pixels</mat-label>
                <input matInput
                    type="text"
                    formControlName="camera_pixels">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Video Pixels</mat-label>
                <input matInput
                    type="text"
                    formControlName="video_pixels">
            </mat-form-field>
            <mat-form-field>
                <mat-label>RAM</mat-label>
                <input matInput
                    type="text"
                    formControlName="ram">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Chipset</mat-label>
                <input matInput
                    type="text"
                    formControlName="chipset">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Battery Size</mat-label>
                <input matInput
                    type="text"
                    formControlName="battery_size">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Battery Type</mat-label>
                <input matInput
                    type="text"
                    formControlName="battery_type">
            </mat-form-field>

            <br/>

            <button [disabled]="!editPhoneForm.valid" mat-raised-button color="primary">
                <mat-icon>edit</mat-icon>
                Edit the phone!
            </button>
            <button (click)="deletePhone()" class="m-l-sm" mat-raised-button color="warn">
                <mat-icon>delete</mat-icon>
                Delete the phone!
            </button>
            <button class="m-l-sm" mat-button color="info" (click)="back()">Back to phone list</button>
        </form>
    </div>
    <div fxFlex="50">
        <img [src]="editPhone | image" alt="{{ editPhone.name }}">
    </div>
</div>